@import "../../node_modules/bootstrap/scss/bootstrap";

*{
    box-sizing: border-box;
    nav.bg-top{
        background-color: #292f3b;
        .navbar-brand{
            display: inline-block;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
            .logo{
                max-height: 42px;
            }
        }
    }
    footer{
        background-color: #292f3b;
        background: #292f3b;
        font-size: 14px;
        color: #fff;
    }
    
}